div {
  position: relative;
  text-align: center;
  width: 300px;
  margin-top: 20px;
}
:host h2 {
  font-size: 35px;
  margin: 0px;
  padding: 0px;
}
:host h3 {
  font-size: 18px;
  margin: 0px;
  padding: 0px;
}
#piechart {
  position: absolute;
  width: 300px;
  height: 300px;
}
.textPiechart {
  position: absolute;
  padding: 38%;
  width: 300px;
  height: 300px;
}
#textFirst {
  font-size: 35px;
  color: #5d9085;
}
#textLast {
  font-size: 22px;
  color: #000000;
}

@media screen and (max-width: 1279px) and (max-height: 1023px) {
  div {
    width: 300px;
    width: 100vw;
  }
  #piechart {
    width: 300px;
    width: 100vw;
    height: 30%;
    height: 30vh;
  }
  .textPiechart{
    width: 300px;
    width: 100vw;
    height: 30%;
    height: 30vh;
    padding-top: 15%;
  }
}